{% extends 'base.html' %}

{% block title %}
    product
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{productDes.productImage.url}}" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">{{productDes.productName}}</h5> 
                                <span class="text-uppercase text-muted brand">Category: </span>
                                <div class="price d-flex flex-row align-items-center"> <span class="text-uppercase text-muted brand">Price: ${{productDes.productPrice}}</span>
                                </div>
                                <div class="price d-flex flex-row align-items-center"> <span class="text-uppercase text-muted brand">Quantity Available: {{productDes.quantityAvailable}}</span>
                                </div>
                            </div>
                            <span class="text-uppercase text-muted brand">product description: </span>
                            <p class="about">{{productDes.productDesc}}</p>
                            <form action="" method="POST">
                                <div class="sizes mt-5">
                                    <h6 class="text-uppercase">Quantity</h6> <input type="number" id="quantity" name="quantity" min="1" max="{{productDes.quantityAvailable}}">
                                </div>
                            
                                <div class="cart mt-4 align-items-center"> <button class="btn btn-dark text-uppercase mr-2 px-4">ADD TO CART</button></div>
                            </form>
                            <div class="cart mt-4 align-items-center"> <a href="{% url 'base:homePage' %}" class="btn btn-dark text-uppercase mr-2 px-4">Back to home page</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}