{% extends 'base.html' %}

{% block title %}
    product
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://i.imgur.com/Dhebu4F.jpg" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">Men's slim fit t-shirt</h5> 
                                <span class="text-uppercase text-muted brand">Category: </span>
                                <div class="price d-flex flex-row align-items-center"> <span class="text-uppercase text-muted brand">price: $20</span>
                                </div>
                            </div>
                            <span class="text-uppercase text-muted brand">product description: </span>
                            <p class="about">Shop from a wide range of t-shirt from orianz. Pefect for your everyday use, you could pair it with a stylish pair of jeans or trousers complete the look.</p>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Quantity</h6> <input type="number" id="quantity" name="quantity" min="1">
                            </div>
                            <div class="cart mt-4 align-items-center"> <a href="#" class="btn btn-dark text-uppercase mr-2 px-4">ADD TO CART</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}